@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cookie&family=Matemasie&family=Oregano:ital@0;1&family=Redressed&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}
body{
    width: 100%;
    background-color: #f7eeed;
}
h1{
    font-family: "Matemasie", system-ui;
    font-size: 50px;
    line-height: 64px;
}
h2{
    font-family: "Matemasie", system-ui;
    font-size: 40px;
    line-height: 54px;
}
h3{
    font-family: "Matemasie", system-ui;
    font-size: 30px;
    line-height: 44px;
}
h4{
    font-family: "Matemasie", system-ui;
    font-size: 20px;
    line-height: 34px;
}
h5{
    font-family: "Matemasie", system-ui;
}
h6{
    font-family: "Cookie", system-ui;
    line-height: 34px;
}
p{
    font-family: "Sacramento", system-ui;
    margin: 15px 0 15px 0;
    font-size: 30px;
}
.section-p1{
   padding: 50px 80px;
}

/* HEADER SECTION */
#header{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 40px 40px;
    background-color: #f7eeed;
    box-shadow: 0px 15px 50px rgba(211, 6, 78, 0.169),
          inset 0px -15px 50px rgba(211, 6, 78, 0.169); /* Inner top shadow */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}
#header #logo{
    height: 70px;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
   list-style: none;
   padding: 0 20px;
   position: relative;
}
#navbar li a{
    font-family: "Cookie", system-ui;
    text-decoration: none;
    color: black;
    transition: 0.7s ease ;
}
#navbar li a:hover,
#navbar li a.active{
    color: #96163a;
    font-size: 25px;
}

#navbar li a.active::after,
#navbar li a:hover::after{
     content: "";
     width: 30%;
     height: 2px;
     background-color: #96163a;
     position: absolute;
     bottom: 2px;
     left: 20px;
     
}
#mobile{
    display: none;
    justify-content: center;
}
#close{
    display: none;
}

/* HERO SECTION */
#hero {
    width: 100%;
    height: 90vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#hero img{
    width: 40vw;
    overflow:hidden;
    padding-top: 30px;
}

#hero h1{
    color: #96163a;
}
#hero button{
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    color: #96163a;
    background-color: #f7eeed;
    border: 0;
    padding: 10px 20px;
}

/* FEATURE SECTION */
.fe-img{
    width: 100%;
    margin-bottom: 5px;
}
.fe-box{
    background-color: white;
    width: 14vw;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 10px 10px 34px rgba(0, 0, 0, 0.205);
    border: 1px solid #dccccc;
    border-radius: 4px;
    margin: 15px 10px;
    transition: 1s ease;
}
.fe-box:hover{
    box-shadow: 5px 5px 54px rgba(0, 0, 0, 0.573);
    transform: scale(1.1);
}
#feature h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:black;
    background-color: #efbb68f3;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(155, 239, 155);
}
#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(175, 228, 241);
}
#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(244, 153, 178);
}
#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(252, 231, 95);
}
#feature{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* FEATURED PRODUCT SECTION */
#product{
    height:1500px;
    background-color: #96163a34;
    padding: 20px 0;
    box-shadow: 0px -10px 10px  #96163a34,
    0px 10px 10px  #96163a34;
}
#product h2{
  text-align: center;
  padding: 4% 0;
}
.pro-box{
    display: flex;
    position: relative;
    height: 400px;
    margin: 50px 0;
}
.pro-box::after{
    content: "";
    width: 80%;
    height: 1px;
    background-color: #f7eeed;
    position: absolute;
    bottom: 1px;
    left: 10%;
    
}
.pro-box img{
    height: 290px;
    width: 24% ;
    position: absolute;
    left: 20%;
    z-index: 1;
    border: 4px solid #f7eeed;
    border-radius: 2%;
    box-shadow: 0 0 30px white;
}
#product .pro-box:nth-child(2) img{
    left: 63%;
}
#product .pro-box:nth-child(3) img{
    left: 15%;
}

.pro-content{
    background-color: #f7eeed;
    width:43vw;
    height: 320px;
    margin-top: 50px;
    padding: 10px 10px 10px 50px;
    position: absolute;
    left: 38%;
    z-index: 0;
    border: 35px solid #c20f421d;
    border-radius: 3%;
}
#product .pro-box:nth-child(2) .pro-content{
    left: 26%;
}
#product .pro-box:nth-child(3) .pro-content{
    left: 33%;
}
.pro-content p{
    font-size: 25px;
}

/* BANNER SECTION */
#banner{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner.png");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 15px 50px rgba(211, 6, 78, 0.169),
                inset 0px -15px 50px rgba(211, 6, 78, 0.169);
}
#banner p{
    font-family: "Cookie", system-ui;
}
#banner h3{
    color: #96163a;
}
#banner button{
    font-family: "Cookie", system-ui;
    background-color: transparent;
    border: none;
    color: rgb(58, 125, 154);
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;
}
#banner button:hover{
    font-weight: 600;
    color: wheat;
}

/* DISPLAY CARD SECTION */
#display{
    text-align: center;
    padding: 5% 3%;
}
.dis-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 40px;
}
.dis-card{
    width: 20%;
    min-width: 230px;
    padding: 10px 5px;
    border-radius:15px ;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.183);
    margin: 15px 7px;
    transition: 1s ease;
    position: relative;
}
.dis-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgba(250, 248, 249, 0.306);
}
.dis-card img{
    width: 100%;
    height:250px;
    border-radius:10px ;
}
.des{
    text-align: start;
    padding: 0 0 5% 7%;
}
.des h3, h4{
    font-family: "Cookie", system-ui; 
    line-height: 30px; 
}
.des i{
    color: rgb(222, 137, 10);
}
#cart{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    background-color: #96163a23;
    color:   #96163af0;
    border: 1px solid  #96163af0;
    position: absolute;
    bottom: 20px;
    right: 15px;
}


/* NEWS LETTER SECTION */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    margin: 20px 0 0 0;
    padding: 40px 30px 30px 35px ;
    background-color: #780d2b;
}
.news-text h3{
    font-family: "Cookie", system-ui; 
    font-weight: 500;
    font-size: 35px;
    color: #f7eeed;
}
.news-text p{
    font-size: 25px;
    color: wheat;
}
.news-text span{
    color: #ff0149;
    font-size:27px ;
}
.form{
    display: flex;
    width: 40%;
}
.form input{
    height: 2.5rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
.form button{
    background-color:wheat ;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* FOOTER SECTION */
footer{
    background-color: #96163a34;
    padding: 10px 0;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px 20px 20px;
   
}
.footer-container::after{
    content: "";
    width: 80%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 70px;
    left: 10%;
}

footer h3{
    font-family: "Cookie", system-ui; 
    font-size: 33px;
    line-height: 25px;
}
footer p{
    font-size: 25px;
    font-family: "Cookie", system-ui;
}
footer span{
    color: #850d2f;
    font-weight: 600;
    font-family: "Cookie", system-ui; 
    font-size: 25px;
}
footer a{
    color: black;
    text-decoration: none;
    font-family: "Cookie", system-ui;
}
.abo-con{
    width: 58%;
    line-height: 30px;
}
.footer-contact{
    line-height: 15px;
    padding-top: 20px;
}
.footer-container li{
    list-style: none;
    text-align: center;
    line-height: 25px;
}
.footer-social i{
   margin: 10px 5px;
}

.footer-bottom p{
    font-family: "Oregano", system-ui;
    font-size: 15px;
    color: grey;
    text-align: center;
    line-height: 6px;
}



/*...... MEDIA QUERIES STARTS FROM HERE..... */
@media (max-width:799px ) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color: #680521;
        padding: 80px 0 0 10px;
        transition: right 1s ease;
    }
    #navbar.active{
        right: 0px; 
        
    }
    #navbar li{
        margin-bottom: 20px;
       
    }
    #navbar li a{
        color: wheat;
    }
    #mobile{
        display: flex;
        justify-content: center;
    }
    #mobile i{
        color: black;
        font-size: 20px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: wheat;
        font-size: 25px;
    }
    #lg-bag{
        display: none;
    }

    /* HERO SECTION */
    #hero {
        height: 50vh; 
       margin-top: 20px;
    }

    /* FEATURE SECTION */
    .fe-box{
        width: 20vw;
    }

    /* FEATURED SECTION */
    .pro-box img{
        height: 53%;
        width: 26% ;
        left: 12%;
    }
    .pro-content{
        width:54vw;
        height: 320px;
        left: 31%;

    }
    #product .pro-box:nth-child(2) img{
        left: 12%;
    }
    #product .pro-box:nth-child(3) img{
        left: 60%;
    }
    #product .pro-box:nth-child(2) .pro-content{
        left: 31%;
    }
    #product .pro-box:nth-child(3) .pro-content{
        left: 14%;
    }

    /*BANNER SECTION*/
    #banner{
        height: 27vh;
        background-size: cover;
    }

    /* NEWS LETTER SECTION */
    .form{
        display: flex;
        width: 60%;
    }

}



/* ......................................................*/
/* SHOP PAGE STYLING STARTS HERE */

/* TOP BANNER SECTION */
#shop-banner img{
    width: 100%;
    height: 45vh;
}
#pagination{
    text-align: center;
    margin-bottom: 50px;
}
#pagination a{
    text-decoration: none;
    background-color: #96163a;
    padding: 15px 20px;
    border-radius: 4px;
    color: #f7eeed;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
}

/* ........................................... */
/* PRODETAIL PAGE STYLING STARTS HERE */

#proDetail{
    display: flex;
    margin: 50px 20px;
    padding: 30px 0;
    background-color: #96163a34; 
    border-radius: 20px;
}
#proDetail .sig-pro-img{
    width: 50%;
    margin: 0px 50px;
    background-color: palevioletred;
}
.sm-img-grp{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.sm-img-col{
    background-color:pink;
    flex-basis: 24%;
    cursor: pointer;
}

#proDetail .sig-pro-details h6, h4, h3{
    font-family: "Cookie", system-ui;
}
.sig-pro-details h6{
    font-size: 18px;
    margin: 10px 0 30px 0;
    color: grey;
}
.sig-pro-details h4{
    font-size: 26px;
}
.sig-pro-details select,option{
    display: block;
    padding: 5px 10px;
    margin-top: 18px;
    font-size: 16px;
    color: grey;
}
.sig-pro-details input{
    width: 40px;
    height: 37px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}
.sig-pro-details input:focus{
    outline: none;
}
.sig-pro-details button{
    font-size: 16px;
    padding: 9px 10px;
    background-color: #96163a;
    color: #f7eeed;
    border-radius: 4px;
    border:none;
    border: 2px solid #680521;
    margin-bottom: 30px;
}
.sig-pro-details span{
    line-height: 30px;
    font-family: "Sacramento", system-ui;
    font-size: 25px;
}


/* ...................................... */
/* BLOG PAGE STYLING STARTS HERE */

#blog{
    padding: 100px 100px 0 100px;
}
.blogBox{
    display: flex;
    position: relative;
    padding-bottom: 90px;
}
.blogImg img{
    width: 30vw;
    z-index: 1;
}
.blogDetails{
    padding: 5px 0 0 30px;
}
.blogDetails p{
    font-size: 23px;
}
.blogDetails a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    transition: 0.5s;
}
.blogDetails a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 6px;
    right: -60px;
}
.blogDetails a:hover{
    color: #c5325c;
}
.blogDetails a:hover::after{
    background-color: #c5325c ;
}
.blogBox h1{
    font-family: "Cookie", system-ui;
    font-weight: 600;
    position: absolute;
    top: -42px;
    left: 0;
    font-size: 70px;
    color: wheat;
    z-index: -9;
}